<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>カナ名</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
    <th>キャンセル</th>
    <th>コース</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentList}">
    <td th:text="${studentDetail.student.id}"></td>
    <td>
      <a th:href="@{/students/{id}/form(id=${studentDetail.student.id})}"
         th:text="${studentDetail.student.name}">室伏 広治</a>
    </td>
    <td th:text="${studentDetail.student.kanaName}">むろふし こうじ</td>
    <td th:text="${studentDetail.student.nickname}">Koji</td>
    <td th:text="${studentDetail.student.email}">koji.murobushi@example.com</td>
    <td th:text="${studentDetail.student.region}">香川</td>
    <td th:text="${studentDetail.student.age}">50</td>
    <td th:text="${studentDetail.student.gender.label}">男性</td>
    <td th:text="${studentDetail.student.remark}"></td>
    <td>
      <!-- チェックボックスでキャンセル状態を表示 -->
      <input type="checkbox" disabled="disabled" th:checked="${studentDetail.student.deleted}"/>
    </td>
    <td>
      <ul th:if="${studentDetail.courses != null}">
        <li th:each="course : ${studentDetail.courses}">
          <span th:text="${course.courseName}"></span>
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
